.img-container {
  position: relative;
  width: 180px;
  margin: 10px auto;
}

.container-card{
  align-content: space-around;
}

.poke-card {
  position: relative;
  font-family: 'Roboto Mono', monospace;
  max-width: 20em;
  border-radius: 1em;
  color: #000;
  text-align: center;
  padding: 10px;
  display: inline-grid;
  height: 40em;
  //background-color: #FFF;
  border: 1px solid black;
}

.poke-types {
  //display: flex;
  padding: 5px;
  margin: 5px;
  border-radius: 4px;
}