// .img-container {
//   position: relative;
//   width: 180px;
//   margin: 10px auto;
// }

#container-card {
  flex-wrap: wrap;
  justify-content: center;
}

.poke-card {
  height: 40em;
  max-width: 20em;
  font-family: 'Roboto Mono', monospace;
  border-radius: 1em;
  text-align: center;
  border: 1px solid black;
  display: inline-flex;
  // padding: 10px;
}

.poke-types {
  padding: 1em;
  margin: 1em;
}