<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Pocket-Pokedex
    </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/create-pokemon">
        Create Pokemon
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-searchbar search-icon="search-circle" [(ngModel)]="searchPoke" showCancelButton="focus" animated
    placeholder="Busca tu pokemon"></ion-searchbar>
  <div id="container-card">
    <ion-item class="item-card" *ngFor="let p of pokemon | filter:searchPoke">
      <app-poke-cards [idpoke]="p.idpoke" [numpokemon]="p.numpokemon" [name]="p.name" [type1]="p.type1"
        [type2]="p.type2"></app-poke-cards>
    </ion-item>
  </div>
</ion-content>