.poke-card {
    height: 50em;
    max-width: 20em;
    font-family: 'Roboto Mono', monospace;
    border-radius: 1em;
    text-align: center;
    border: 1px solid black;
  }
  
  .poke-types {
    padding: 1.5em;
    margin: 1.5em;
  }