<ion-card href="/" class="poke-card">
  <ion-card-header>
    <h1>Nº {{numpokemon}}</h1>
    <ion-title>{{name}}</ion-title>
    <ion-item class="img-container">
      <ion-img *ngIf="+[(numpokemon)] < 10"
        src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/00{{numpokemon}}.png"></ion-img>
      <ion-img *ngIf="9 < +[(numpokemon)] && +[(numpokemon)] < 100"
        src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/0{{numpokemon}}.png"></ion-img>
      <ion-img *ngIf="99 < +[(numpokemon)] && +[(numpokemon)] < 810"
        src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/{{numpokemon}}.png"></ion-img>
      <ion-img *ngIf="+[(numpokemon)] > 809" src="assets/images/Missigno.png"></ion-img>
    </ion-item>
  </ion-card-header>
  <ion-card-content>
    <div class="poke-types">
      <ion-img src="assets/images/{{type1}}.png"></ion-img>
      <ion-img *ngIf="type2 !== null" src="assets/images/{{type2}}.png"></ion-img>
    </div>
    <div>
      <h2>HP: {{hp}}</h2>
      <h2>Attack: {{attack}}</h2>
      <h2>Defense: {{defense}}</h2>
      <h2>Sp. Attack: {{sp_attack}}</h2>
      <h2>Sp. Defense: {{sp_defense}}</h2>
      <h2>Speed: {{speed}}</h2>
    </div>
  </ion-card-content>
</ion-card>