<ion-card class="poke-card">
  <ion-card-header>
    <h1>Nº {{numpokemon}}</h1>
    <ion-title>{{name}}</ion-title>
    <ion-item class="img-container">
      <ion-img *ngIf="+[(numpokemon)] < 10"
        src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/00{{numpokemon}}.png"></ion-img>
      <ion-img *ngIf="9 < +[(numpokemon)] && +[(numpokemon)] < 100"
        src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/0{{numpokemon}}.png"></ion-img>
      <ion-img *ngIf="99 < +[(numpokemon)] && +[(numpokemon)] < 810"
        src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/{{numpokemon}}.png"></ion-img>
      <ion-img *ngIf="+[(numpokemon)] > 809" src="assets/images/Missigno.png"></ion-img>
    </ion-item>
  </ion-card-header>
  <ion-card-content>
    <div class="poke-types">
      <ion-img src="assets/images/{{type1}}.png"></ion-img>
      <ion-img *ngIf="type2 !== null" src="assets/images/{{type2}}.png"></ion-img>
    </div>
    <div class="stats-container">
      <ion-item>
        <ion-label position="stacked">HP:</ion-label>
        <ion-input id="dataBox" type="number" value="{{hp}}" required="true" readonly="true"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Attack:</ion-label>
        <ion-input id="dataBox" type="number" value="{{attack}}" required="true" readonly="true"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Defense:</ion-label>
        <ion-input id="dataBox" type="number" value="{{defense}}" required="true" readonly="true"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Sp. Attack:</ion-label>
        <ion-input id="dataBox" type="number" value="{{sp_attack}}" required="true" readonly="true"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Sp. Defense:</ion-label>
        <ion-input id="dataBox" type="number" value="{{sp_defense}}" required="true" readonly="true"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Speed:</ion-label>
        <ion-input id="dataBox" type="number" value="{{speed}}" required="true" readonly="true"></ion-input>
      </ion-item>
      <!-- <h1>HP: {{hp}}</h1>
      <h1>Attack: {{attack}}</h1>
      <h1>Defense: {{defense}}</h1>
      <h1>Sp. Attack: {{sp_attack}}</h1>
      <h1>Sp. Defense: {{sp_defense}}</h1>
      <h1>Speed: {{speed}}</h1> -->
    </div>
  </ion-card-content>
</ion-card>