<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Pocket-Pokedex
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container-card">
    <ion-card class="poke-card" *ngFor="let p of pokemon | filter:searchPoke">
      <ion-card-header>
        <h1>Nº {{p.numpokemon}}</h1>
        <ion-title>{{p.name}}</ion-title>
        <ion-item class="img-container">
          <ion-img *ngIf="p.numpokemon < 10"
            src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/00{{p.numpokemon}}.png"></ion-img>
          <ion-img *ngIf="9 < p.numpokemon && p.numpokemon < 100"
            src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/0{{p.numpokemon}}.png"></ion-img>
          <ion-img *ngIf="99 < p.numpokemon && p.numpokemon < 810"
            src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/{{p.numpokemon}}.png"></ion-img>
          <ion-img *ngIf="p.numpokemon > 809" src="assets/images/Missigno.png"></ion-img>
        </ion-item>
      </ion-card-header>
      <ion-card-content>
        <div class="poke-types">
          <ion-img src="assets/images/{{p.type1}}.png"></ion-img>
          <ion-img *ngIf="p.type2 != null" src="assets/images/{{p.type2}}.png"></ion-img>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
