.poke-card {
  height: 40em;
  max-width: 20em;
  font-family: 'Roboto Mono', monospace;
  border-radius: 1em;
  text-align: center;
  border: 1px solid black;
  // padding: 10px;
}

.poke-types {
  padding: 1em;
  margin: 1em;
}

