#container-card {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  
  .poke-card {
    height: 100%;
    max-width: 20em;
    font-family: 'Roboto Mono', monospace;
    border-radius: 1em;
    text-align: center;
    border: 1px solid black;
  }
  
  .stats-container{
    padding: .5em;
    margin: .5em;
  }
  
  .poke-types img{
    width: 50%;
    height: 50%;
    // padding: 1.5em;
    // margin: 1.5em;
  }